#!/bin/bash
# See project README.md for details
sudo systemctl restart postgresql # Restart postgres so it ends any connection that may be active.
sudo -u postgres -i psql -c "drop database user_crud_test;" # Deletes the existing test database.
sudo -u postgres -i psql -c "create database user_crud_test;" # Creates a new test database.
PGPASSWORD="changeme" pg_dump -U postgres -h localhost user_crud > sqlfile.sql # Sets the main database password and exports the main database (structure and content) to a .sql file
PGPASSWORD="changeme" psql -U postgres -h localhost -d user_crud_test -f sqlfile.sql -L logfile.txt # Sets the test database password and imports the previously exported .sql file